extends layout

block content
  h1= title
  div 
  p My Name is Matt Hames.
  p I'm a computer programming student at georgian college.
  p I live in Barrie, Ontario. 
  img(src='/pictures/godfather_0.jpg' alt='godfather Face' class='center' width='25%')