extends layout

block content
  // all links are clickable and are live.
  h1= title
  p If you have any questions or concerns feel free to contact me by Phone, Text, or Email.
  p
    a(href='tel:1-289-934-3444') Call ME:1-289-934-3444
  p
    a(href='sms:1-289-934-3444') Send Text:1-289-934-3444
  p
    a(href='mailto:mhames80@gmail.com') Email: mhames80@gmail.com

  img(src='/pictures/phone.jpg' alt='cool pic' class='center' width='25%')  


