doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    
  body
  ul
    li
        a("href=/ ") Home
    li
        a("href=/about") About
    li
        a("href=/contact") Contact
    li
        a("href=/projects") Projects
    li
        a("href=/service") Service
    block content
  