doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
  body
  ul
    li
        a("href=/ ") Home
    li
        a("href=/about") About
    li
        a("href=/contact") Contact
    li
        a("href=/projects") Projects
    li
        a("href=/service") Service
    block content
  