extends layout

block content
  // added links to youtube projects.
  h1= title
  p Hi feel free to follow links to some cool projects that I found on youtube
  p
    a(href="https://www.youtube.com/watch?v=VFOu7GnX2AQ") Raspberry Pi Project
  p
    a(href="https://www.youtube.com/watch?v=OXi4T58PwdM") Python Project
    
  p
    a(href="https://www.youtube.com/watch?v=gpXuEghz1zc") Arduino Project

  img(src='/pictures/project.jpg' alt='picture' class='center' width='25%')  