// publisher Matt Hames june 2020. Header page will add navigation to all pages
ul
    
    a(href="/ ") Home
    
    a(href="/about") About
    
    a(href="/contact") Contact
    
    a(href="/projects") Projects
    
    a(href="/service") Service

        